{% extends 'layout.twig' %}

{% block body %}
<form ref='uploadForm' id='uploadForm' action='/upload/image' method='post'
    encType="multipart/form-data">
    <input type="file" name="img" />
    <input type='submit' value='Upload!' />
</form>
{% endblock %}